<nav class="d-flex flex-column flex-shrink-0" id="navbar">
            <a href="/"
               class="d-flex align-items-center p-4 mb-3 mb-md-0 me-md-auto text-decoration-none fs-2 color-text"
               id="navbar-brand">forum.</a>
            <ul class="nav flex-column mb-auto" id="sidenav-nav">
                <li class="nav-item ps-2">
                    <a class="nav-link active p-4" href="/">
                        <i class="fa fa-home pe-4"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link p-4" href="/questions">
                        <i class="fa fa-question pe-4"></i>
                        Questions
                    </a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link p-4" href="/starred">
                        <i class="fa fa-star pe-4"></i>
                        Starred
                    </a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link p-4" href="/users">
                        <i class="fa fa-users pe-4"></i>
                        Users
                    </a>
                </li>
                <hr class="m-4"/>
                <li class="nav-item ps-2">
                    <a class="nav-link p-4" href="/profile/{{username}}/userposts">
                        <i class="fa fa-user pe-4"></i>
                        Profile
                    </a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link p-4" href="/settings">
                        <i class="fa fa-cog pe-4"></i>
                        Settings
                    </a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link p-4" href="/logout">
                        <i class="fa fa-sign-out pe-4"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
