<div class="p-5" id="right-container">
            <h3 class="mb-5">Trends for you</h3>
            <div class="d-flex flex-column" id="trends-container">
                {{#each trends}}
                    <a href="/Tags?tagSearch={{_id}}" class="mb-2">
                    <h6>{{_id}}</h6>
                    <p class="text-muted fw-semibold">{{count}} questions</p>
                    </a>
                {{/each}}
            </div>
            <hr class="mb-4" />
            <div class="row" id="footer-container">
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <a href="/about" class="fw-semibold">About</a>
                        <a href="/privacy" class="fw-semibold">Contact Us</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <a href="/about" class="fw-semibold">Terms of Service</a>
                        <a href="/privacy" class="fw-semibold">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>