@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.post-content b, .post-content strong { font-weight: bold; }
.post-content i, .post-content em { font-style: italic; }
.post-content del { text-decoration: line-through; }
.post-content p code {
    background-color: rgba(0, 0, 0, 0.3);
    color: inherit;
    margin: 0 1px;
    padding: 2px 5px;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.95em;
}
.post-content pre {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    font-family: "JetBrains Mono", monospace;
}
.post-content blockquote {
    margin: 10px 5px 0 0;
    padding: 10px 20px 10px 15px;
    border-left: 5px solid #AAA;
}
.post-content blockquote p {
    margin: 0;
}