<!DOCTYPE html>
<html lang="en" dark>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<!--    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cure53/DOMPurify/dist/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turndown/7.1.1/turndown.min.js"></script>
    <script src="/js/backend.js"></script>
    <script src="/js/snackbar.js"></script>
    <script src="/js/nFormatter.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/comment.js"></script>
</head>
<body>
<div class="row g-0">
    <div class="col-2">
        {{#> nav user username=username}}
        {{/nav}}
    </div>
    <div class="col-7 px-5 mb-4">
        <div id="main-controls">
            <div id="post-search-group">
                <span class="fa fa-search" id="post-search-icon"></span>
                <input type="search" placeholder="Search" name="post-search" id="post_search">
            </div>
            <button id="btn-ask" data-bs-toggle="modal" data-bs-target="#modal-question">Ask Question</button>
            <button id="btn-mode-toggle"><i class="fa fa-moon"></i></button>
        </div>
        <div class="post-container">
            <h2 class="post-title" id="navbar-brand">Privacy Policy</h2>
            <div class="post-content">

                <h4>1. Information We Collect</h4>
                <p>We may collect several types of information from and about users of our platform, including information by which you may be personally identified, such as name, postal address, email address, and telephone number, and information about your internet connection, the equipment you use to access our platform, and usage details.</p>

                <h4>2. How We Use Your Information</h4>
                <p>We use information that we collect about you or that you provide to us, including any personal information, to present our platform and its contents to you, provide you with information, products, or services that you request from us, fulfill any other purpose for which you provide it, and for any other purpose with your consent.</p>

                <h4>3. Disclosure of Your Information</h4>
                <p>We may disclose aggregated information about our users and information that does not identify any individual without restriction. We may disclose personal information that we collect or you provide as described in this privacy policy to our subsidiaries and affiliates, contractors, service providers, and other third parties we use to support our business.</p>

                <h4>4. Cookies and Tracking Technologies</h4>
                <p>We may use cookies, web beacons, tracking pixels, and other tracking technologies on the platform to help customize the platform and improve your experience.</p>

                <h4>5. Security</h4>
                <p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.</p>

                <h4>6. Children's Privacy</h4>
                <p>Our platform is not intended for children under 13 years of age. We do not knowingly collect personal information from children under 13.</p>

                <h4>7. Changes to Our Privacy Policy</h4>
                <p>We may update our privacy policy from time to time. All changes are effective immediately when we post them. Your continued use of the platform after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>

                <h4>8. Contact Information</h4>
                <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at: <a href="mailto:support@example.com">support@example.com</a>.</p>
            </div>


        </div>
    </div>
    <div class="col-3">
        {{#> rightuser user displayName=displayName username=username following=following followers=followers joindate=joindate profilePicture=profilePicture}}
        {{/rightuser}}
        {{#>trends}}
        {{/trends}}
    </div>
</div>

<div class="modal fade modal-xl" id="modal-question" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 m-0">Ask Question</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <form action="" id="form-post">
                            <div class="mb-3">
                                <label for="post-title-form" class="form-label">Title</label>
                                <input type="text" class="form-control" name="post-title" id="edit_post_title_form" required="">
                            </div>
                            <div class="mb-3">
                                <label for="post-content-form" class="form-label">Content</label>
                                <textarea class="form-control" name="post-content" id="edit_post_content_form" required="" rows="10"></textarea>
                                <p class="fs-6 fw-semibold text-muted"><a href="https://commonmark.org/help/">CommonMark Markdown</a> formatting is supported.</p>
                            </div>
                            <div class="mb-3">
                                <label for="post-tags-form" class="form-label">Tags</label>
                                <input type="text" class="form-control" name="post_tags_form" id="edit_post_tags_form" required="">
                                <p class="fs-6 fw-semibold text-muted">Separate tags with a comma. Maximum of 5 tags allowed.</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-6" id="post-preview-container">
                        <h2 class="post-title" id="post-title-preview"></h2>
                        <div class="post-content" id="post-content-preview"></div>
                        <div class="tags-container" id="tags-preview"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa fa-trash me-2"></i>Discard</button>
                <button type="button" form="form-post" class="btn btn-success" id="btn-edit-post-form">
                    <i class="fa fa-check me-2"></i>Publish</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
