.post-controls-container {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.post-controls-container > * {
    color: var(--color-text-muted);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

#add-comment-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    margin-top: 1.5rem;
    border-radius: var(--radius);
    padding: calc(1rem + var(--radius) / 4);
    gap: 1.5rem;
}

#add-comment-container {
    display: flex;
    gap: 1.5rem;
    --add-comment-height: 50px;
}

#add-comment-container > .profile-img {
    width: var(--add-comment-height);
}

#add-comment-container > #add_comment_textarea {
    border-radius: calc(var(--radius) / 2);
    resize: none;
    padding: 0 1.5rem;
    height: var(--add-comment-height);
    line-height: var(--add-comment-height);
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 180ms ease;
}

#add-comment-container > #add_comment_textarea::placeholder {
    color: var(--color-text);
}

#add-comment-container > #add_comment_textarea:focus,
#add-comment-container > #add_comment_textarea:not(:placeholder-shown) {
    padding: 1rem 1.5rem;
    line-height: initial;
}

#add-comment-container > #add_comment_textarea:placeholder-shown {
    height: var(--add-comment-height) !important;
}

#add-comment-controls-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

#comments-container {
    margin-top: 1.5rem;
}

#comments-container > .comment-wrapper {
    margin-left: 0;
}

.comment-wrapper {
    display: none;
    flex-direction: column;
}

.comment-wrapper .comment-wrapper {
    margin-top: 1.5rem;
    padding-left: 3rem;
    border-left: 5px solid var(--color-secondary);
}

.comment-wrapper:not(:first-child) {
    margin-left: 3rem;
    margin-top: 1rem;
}

.comment-wrapper.opened {
    display: flex;
}

.comment-container {
    background-color: var(--color-secondary);
    border-radius: var(--radius);
    padding: 1.5rem calc(1.5rem + var(--radius) / 4);
}

.comment-header-container {
    display: flex;
    margin-bottom: 1rem;
    --comment-author-height: 25px;
}

.comment-header-container > .comment-author-img {
    width: var(--comment-author-height);
    margin-right: 1rem;
}

.comment-header-container > .comment-author {
    line-height: var(--comment-author-height);
    opacity: 0.65;
    font-weight: 600;
}

.comment-header-container > .comment-header-separator {
    line-height: var(--comment-author-height);
    margin: 0 1rem;
    opacity: 0.35;
}

.comment-header-container > .comment-timestamp {
    line-height: var(--comment-author-height);
    opacity: 0.85;
    font-weight: 600;
    color: var(--color-text-muted);
}

.comment-content,
.post-content {
    margin-bottom: 1.5rem;
    transition: background-color 180ms ease, padding 0.5s cubic-bezier(0.25, 0.75, 0.2, 1);
}

.comment-content[contenteditable=true],
.post-content[contenteditable=true] {
    padding: calc(0.5rem + var(--radius) / 4);
    outline: none !important;
    border: 1px solid var(--color-accent);
    border-radius: calc(var(--radius) / 2);
}

.comment-content[contenteditable=true]:focus,
.post-content[contenteditable=true]:focus {
    background-color: var(--color-primary);
}

.comment-content > p:last-child,
.post-content > p:last-child {
    margin-block-end: 0;
}

.comment-footer-container {
    display: flex;
    gap: 1rem;
}

.comment-footer-container > .comment-votes-container {
    display: flex;
}

.comment-footer-container > .comment-votes-container > * {
    width: 1.5rem;
    text-align: center;
}

.comment-vote-count {
    font-weight: 600;
}

.comment-vote-up, .comment-vote-down {
    opacity: 0.5;
}

.comment-footer-container > .comment-controls-container {
    display: flex;
    gap: 1rem;
}

.comment-footer-container > .comment-controls-container > * {
    cursor: pointer;
    color: var(--color-text-muted);
    text-decoration: none;
    font-weight: 600;
}

.deleted-comment {
    opacity: 50%;
}

.inputbox-container {
    display: flex;
    gap: 1rem;
}
.inputbox-controls {
    display:flex;
    gap: 1rem;
}
.replybox::placeholder {
    color: white;
}

.inputbox-container {
    animation: fadein 0.250s cubic-bezier(0.1, 0.1, 0.1, 0.1);
}

@keyframes fadein {
    from {
        opacity: 0;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) all ease-in-out;
}

    to {
        opacity: 1;
    }
}
